html,
body {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("/fondojpg.jpg");
  background-size: 600px;
  background-attachment: fixed;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
